
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .main{
    margin-top: 100px;
  }

  h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #aboutMe p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.33em;
  }
  #myPhotos img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300
    height: 300
  }

  #myPlatlist iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #like iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  